# 1. Ignora tutto
*

# 2. Permetti il file .gitignore stesso
!.gitignore
!README.md

# 3. Permetti la cartella madre (senza entrare nel contenuto)
!app_tavernGame/

# 4. Ignora tutto quello che c'è dentro app_tavernGame
app_tavernGame/*

# 5. RI-APRI le sottocartelle E tutto il loro contenuto (il segreto è il /**)
!app_tavernGame/src/
!app_tavernGame/src/**

!app_tavernGame/lib/
!app_tavernGame/lib/**

!app_tavernGame/models/
!app_tavernGame/models/**

!app_tavernGame/shaders/
!app_tavernGame/shaders/**

!app_tavernGame/textures/
!app_tavernGame/textures/**

!app_tavernGame/CMakeLists.txt